.background-color-1 {
    background-color: #FFB3B3;
};

.background-color-2 {
    background-color: #FFFFB3;
};

.background-color-3 {
    background-color: #BFFFB3;
}

.background-color-4 {
    background-color: #B3FFF2;
};

.background-color-5 {
    background-color: #B3B3FF;
};

.background-color-6 {
    background-color: #F2B3FF;
};

.background-white {
    background-color: #fff;
}
